@charset "UTF-8";
/*---Variables---*/
/*---ID:Nosotros / Quienes Somos---*/
#Nosotros {
  height: auto;
  padding-bottom: 100px;
  position: relative;
}

#Nosotros img {
  width: 100%;
}

.nosotros .nosotros__titulo {
  font-size: 2.5rem;
  font-weight: 800;
  position: relative;
  bottom: 360px;
  text-align: center;
  color: #672C82;
  padding-bottom: 3%;
}

.nosotros .nosotros__titulo:hover {
  font-size: 2.5rem;
  font-weight: 800;
  position: relative;
  bottom: 360px;
  text-align: center;
  color: #FF8400;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nosotros .nosotros__parrafo {
  font-size: 1.0625rem;
  color: #343348;
  position: relative;
  bottom: 380px;
  text-align: center;
}

.cardsContenedor {
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  width: 100%;
  bottom: 140px;
  left: 250px;
}

.cardsContenedor .card {
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 40px;
  margin: 25px;
  height: 120px;
  width: 300px;
}

.cardsContenedor .card .card__rectangulo {
  width: 300px;
  height: 75px;
  border-radius: 10px;
  background-color: #0084FF;
}

.cardsContenedor .card .card__rectangulo .card__titulo {
  font-size: 1rem;
  font-weight: 700;
  padding-top: 25px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.cardsContenedor .card .card__parrafo {
  font-size: 0.8125rem;
  font-weight: 500;
  padding-top: 20px;
  text-align: center;
  color: #0084FF;
}

.card__rectangulo:hover {
  width: 300px;
  height: 75px !important;
  border-radius: 10px;
  background-image: linear-gradient(160deg, #0084FF 0%, #FF8400 100%);
}

*, ::after, ::before {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

/*---HTML: Equipo---*/
#nuestroEquipo {
  padding-top: 2%;
  padding-bottom: 5%;
  background-color: #0084FF;
}

.container {
  margin-left: 15%;
  width: 100% !important;
}

.equipo .equipo__contenedor {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.equipo .equipo__contenedor .equipo__contenedor--izquierda .equipo__titulo {
  font-weight: 700;
  font-size: 2.25rem;
  color: #FFFFFF;
  padding-bottom: 4%;
  padding-top: 17%;
  margin-left: 3%;
  line-height: 1.3;
}

.equipo .equipo__contenedor .equipo__contenedor--izquierda .equipo__parrafo {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  margin-left: 5%;
  margin-right: 8%;
  padding-top: 2%;
  padding-bottom: 2%;
  color: #FFFFFF;
}

.equipo .equipo__contenedor .equipo__contenedor--izquierda .equipo__icono {
  margin-left: 10%;
  padding-top: 1.5%;
  width: 38px;
}

.equipo .equipo__contenedor .equipo__contenedor--derecha .equipo__img {
  height: 600px;
  padding-top: 5%;
  padding-left: 5%;
}

/*---HTML: Misión---*/
.tituloMisión .pilares {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  padding: 3% 0% 4% 0%;
  color: #672C82;
}

.tituloMisión .tresContenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.tituloMisión .tresContenedor .tres {
  background: #672C82;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 25px;
  width: 20%;
  height: 450px;
}

.tituloMisión .tresContenedor .tres .tres__cuadrado {
  height: 43%;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  background-color: #FFFFFF;
}

.tituloMisión .tresContenedor .tres .tres__cuadrado .tres__character--uno {
  width: 157px;
  padding: 5% 30% 0% 30%;
}

.tituloMisión .tresContenedor .tres .tres__cuadrado .tres__character--dos {
  width: 92px;
  padding: 5% 38% 0% 38%;
}

.tituloMisión .tresContenedor .tres .tres__cuadrado .tres__character--tres {
  width: 108px;
  padding: 5% 36% 0% 36%;
}

.tituloMisión .tresContenedor .tres .tres__cuadrado .tres__titulo {
  font-size: 1.2rem;
  font-weight: 700;
  padding-top: 12%;
  padding-bottom: 10%;
  text-align: center;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-decoration: none;
  color: #FFFFFF;
}

.tituloMisión .tresContenedor .tres .tres__parrafo {
  font-size: 0.8125rem;
  font-weight: 200;
  padding: 35% 10% 10% 10%;
  text-align: center;
  color: #FFFFFF;
}

.tituloMisión *, .tituloMisión ::after, .tituloMisión ::before {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

/*---HTML: Visión---*/
.tarjetasVision {
  margin: 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.border-primary {
  border: 1.5px solid #0084FF !important;
}

.mb-3 {
  margin: 2% !important;
}

.card-header {
  font-size: 0.8rem;
  border-bottom: 1.5px solid #0084FF;
}

.card-title {
  font-size: 600;
  color: #0084FF !important;
}

.card_hover:hover {
  background-color: #FF8400;
  border: 1.5px solid #FFFFFF !important;
}

.card_hover:hover .card-header {
  color: #FFFFFF;
  border-bottom: 1.5px solid #FFFFFF;
}

.card_hover:hover .card-title {
  font-size: 600;
  color: #FFFFFF !important;
}

.card_hover:hover .card-text {
  color: #FFFFFF !important;
}

/*------------------- Media Query Tablet -------------------*/
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  #Nosotros {
    padding-bottom: 80px;
  }
  #Nosotros img {
    width: 100%;
    margin-top: 10%;
  }
  .nosotros .nosotros__titulo {
    font-size: 2.3rem;
    bottom: 80px;
  }
  .nosotros .nosotros__titulo:hover {
    font-size: 2.3rem;
    bottom: 80px;
  }
  .nosotros .nosotros__parrafo {
    font-size: 0.9rem;
    bottom: 90px;
  }
  .cardsContenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 100%;
    left: 0;
    top: 1px;
  }
  .cardsContenedor .card {
    background: #FFFFFF;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 40px;
    margin: 25px;
    height: 120px;
    width: 300px;
  }
  .cardsContenedor .card .card__rectangulo {
    width: 300px;
    height: 75px;
    border-radius: 10px;
    background-color: #0084FF;
  }
  .cardsContenedor .card .card__rectangulo .card__titulo {
    font-size: 1rem;
    font-weight: 700;
    padding-top: 25px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
  }
  .cardsContenedor .card .card__parrafo {
    font-size: 0.8125rem;
    font-weight: 500;
    padding-top: 15px;
    text-align: center;
    color: #0084FF;
  }
  .card__rectangulo:hover {
    width: 300px;
    height: 75px !important;
    border-radius: 10px;
    background-image: linear-gradient(160deg, #0084FF 0%, #FF8400 100%);
  }
  *, ::after, ::before {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  /*---Sección: Equipo---*/
  #nuestroEquipo {
    padding-top: 2%;
    padding-bottom: 5%;
    background-color: #0084FF;
  }
  .container {
    margin-left: 15%;
  }
  .equipo .equipo__contenedor {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .equipo .equipo__contenedor .equipo__contenedor--izquierda .equipo__titulo {
    font-weight: 700;
    font-size: 2.25rem;
    color: #FFFFFF;
    padding-bottom: 4%;
    padding-top: 18%;
    margin-left: 3%;
    line-height: 1.3;
  }
  .equipo .equipo__contenedor .equipo__contenedor--izquierda .equipo__parrafo {
    font-size: 1.125rem;
    font-weight: 400;
    margin-left: 18%;
    padding-top: 2.3%;
    padding-bottom: 2%;
    color: #FFFFFF;
  }
  .equipo .equipo__contenedor .equipo__contenedor--izquierda .equipo__icono {
    margin-left: 10%;
    padding-top: 1.5%;
    width: 36px;
    float: left;
  }
  .equipo .equipo__contenedor .equipo__contenedor--derecha .equipo__img {
    height: 600px;
    padding-top: 5%;
  }
}

/*------------------- Media Query Tablet - HTML Equipo -------------------*/
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .equipo .equipo__contenedor {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .equipo .equipo__contenedor .equipo__contenedor--izquierda {
    width: 100%;
  }
  .equipo .equipo__contenedor .equipo__contenedor--izquierda .equipo__titulo {
    margin-left: 20%;
    margin-bottom: 7%;
  }
  .equipo .equipo__contenedor .equipo__contenedor--izquierda .equipo__parrafo {
    font-size: 1rem;
    margin-left: 30%;
    display: block;
  }
  .equipo .equipo__contenedor .equipo__contenedor--izquierda .equipo__icono {
    margin-left: 20%;
  }
  .equipo .equipo__contenedor .equipo__contenedor--derecha {
    margin-left: 30%;
  }
}

/*------------------- Media Query Tablet - HTML Misión --------------------*/
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .tituloMisión .tresContenedor {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

/*---Variables---*/
/*---ID:Beneficios---*/
#Beneficios .tituloBeneficios {
  font-size: 3.125rem;
  font-weight: 800;
  letter-spacing: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0084FF;
  color: #FFFFFF;
  margin-left: 0;
  padding-top: 3%;
  padding-bottom: 3%;
}

#Beneficios .grilla {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 2.5fr 2fr 3fr;
      grid-template-rows: 2.5fr 2fr 3fr;
      grid-template-areas: "cuenta mantenimiento mantenimiento" "transferencia transferencia cajero" "débito servicio cajero";
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding: 5% 15% 5% 15%;
  /*-Cuenta-*/
  /*-Mantenimiento-*/
  /*-Transferencias-*/
  /*-Cajeros-*/
  /*-Débitos-*/
  /*-Servicios-*/
}

#Beneficios .grilla .grilla__titulo {
  margin: 30px 30px 25px 30px;
  color: #0084FF;
  font-size: 1.125rem;
  font-weight: 600;
}

#Beneficios .grilla .grilla__detalle {
  font-size: 0.8125rem;
  margin: 0px 30px 0px 0px;
  padding-left: 30px;
}

#Beneficios .grilla .grilla__celda--cuenta {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: cuenta;
  border: 1.5px solid #FF8400;
  border-radius: 10px;
  padding-bottom: 8%;
}

#Beneficios .grilla .grilla__celda--mantenimiento {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: mantenimiento;
  border: 1.5px solid #FF8400;
  border-radius: 10px;
}

#Beneficios .grilla .grilla__celda--transferencia {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: transferencia;
  border: 1.5px solid #FF8400;
  border-radius: 10px;
}

#Beneficios .grilla .grilla__celda--cajero {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: cajero;
  border: 1.5px solid #FF8400;
  border-radius: 10px;
  height: 324px;
}

#Beneficios .grilla .grilla__celda--débito {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: débito;
  border: 1.5px solid #FF8400;
  border-radius: 10px;
  height: 160px;
}

#Beneficios .grilla .grilla__celda--servicio {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: servicio;
  border: 1.5px solid #FF8400;
  border-radius: 10px;
  height: 160px;
}

#Beneficios .grilla__icon {
  margin: 23px 18px 10px 32px;
  width: 36px;
  float: left;
}

#Beneficios .grilla__icon:hover {
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: animacion;
          animation-name: animacion;
}

@-webkit-keyframes animacion {
  from {
  }
  to {
    -webkit-transform: skewY(0deg);
            transform: skewY(0deg);
  }
}

@keyframes animacion {
  from {
  }
  to {
    -webkit-transform: skewY(0deg);
            transform: skewY(0deg);
  }
}

/*------------------- Media Query Tablet -------------------*/
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  #Beneficios .grilla {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1.3fr;
        grid-template-rows: 1fr 1.3fr;
        grid-template-areas: "cuenta cuenta" "mantenimiento transferencia" "cajero cajero" "débito servicio";
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 5% 10% 5% 10%;
    /*-Cuenta-*/
    /*-Mantenimiento-*/
    /*-Transferencias-*/
    /*-Cajeros-*/
    /*-Débitos-*/
    /*-Servicios-*/
  }
  #Beneficios .grilla .grilla__titulo {
    font-size: 1.3rem;
    line-height: 1.4;
  }
  #Beneficios .grilla .grilla__celda--cuenta {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: cuenta;
    padding-bottom: 5%;
  }
  #Beneficios .grilla .grilla__celda--mantenimiento {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: mantenimiento;
  }
  #Beneficios .grilla .grilla__celda--mantenimiento .grilla__detalle:last-child {
    display: none;
  }
  #Beneficios .grilla .grilla__celda--transferencia {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: transferencia;
  }
  #Beneficios .grilla .grilla__celda--cajero {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: cajero;
    height: 260px;
  }
  #Beneficios .grilla .grilla__celda--débito {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: débito;
    height: 200px;
  }
  #Beneficios .grilla .grilla__celda--servicio {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: servicio;
    height: 200px;
  }
}

/*---Variables---*/
/*---ID:Ayuda---*/
#Ayuda {
  padding-top: 2%;
  padding-bottom: 3%;
}

.preguntas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 20%;
  margin-bottom: 10%;
}

.preguntas .preguntas__titulo {
  font-size: 1.875rem;
  font-weight: 700;
  color: #343348;
  padding-bottom: 25px;
  width: 100vh;
  text-align: center;
}

.preguntas .preguntas__parrafo {
  font-size: 1.125rem;
  color: #343348;
  text-align: center;
}

.preguntas .mensaje__cta {
  padding-top: 2%;
  width: 100vh;
  text-align: center;
}

.preguntas .mensaje__cta .btn-primary {
  font-weight: 500;
  font-size: 1.0625rem;
  padding-left: 3%;
  padding-right: 3%;
  background-color: #0084FF;
  border-color: #0084FF;
}

.preguntas .mensaje__cta .btn-primary a {
  color: #FFFFFF !important;
  text-decoration: none !important;
}

.preguntas .mensaje__cta .btn-primary:hover {
  background-color: #FF8400;
  border-color: #FF8400;
}

/*-------------Preguntas Frecuentes / Ayuda.html-------------*/
nav {
  height: 75px !important;
}

nav .breadcrumb {
  padding-left: 3%;
  padding-top: 2%;
}

nav .breadcrumb .breadcrumb-item {
  font-size: 0.8125rem;
  font-weight: 200;
}

nav .breadcrumb .breadcrumb-item a {
  text-decoration: none !important;
  color: #0084FF;
}

nav .breadcrumb .active {
  font-weight: 400;
}

.tituloAyuda {
  font-family: 'Poppins', sans-serif;
  font-size: 3.125rem;
  font-weight: 800;
  letter-spacing: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FF8400;
  color: #FFFFFF;
  margin-left: 0;
  padding-top: 3%;
  padding-bottom: 3%;
}

/*---Acordion----*/
.container {
  width: 100vh;
  padding-bottom: 3%;
  padding-top: 3%;
}

.container .accordion-item {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 100;
  color: #343348;
}

.accordion-button:not(.collapsed) {
  color: #FFFFFF;
  background-color: #0084FF;
}

.accordion-header button {
  font-weight: 500;
  color: #0084FF;
}

/*---Cards Group----*/
.card {
  font-family: 'Poppins', sans-serif;
  border: none;
}

.card .card-body {
  padding-left: 10%;
}

.card .card-body .card-icon {
  width: 55px;
  margin-bottom: 6%;
}

.card .card-body .card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #343348;
  margin-bottom: 5%;
}

.card .card-body .card-text {
  font-size: 0.8125rem;
  font-weight: 200;
  color: #343348;
  line-height: 1.7;
}

/*---Cards----*/
.bloque {
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1300px;
  bottom: 140px;
  left: 250px;
  padding-top: 7%;
}

.bloque .bloque__cuadrado--1, .bloque .bloque__cuadrado--2, .bloque .bloque__cuadrado--3 {
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 25px;
  width: 300px;
}

.bloque .bloque__cuadrado--1 {
  height: 100px;
}

.bloque .bloque__cuadrado--1 {
  padding: 30px;
}

.bloque .bloque__cuadrado--2 {
  height: 200px;
}

.bloque .bloque__cuadrado--2 {
  padding: 60px;
}

.bloque .bloque__cuadrado--3 {
  height: 300px;
}

.bloque .bloque__cuadrado--3 {
  padding: 90px;
}

.bloque .bloque__contenido {
  width: 300px;
  height: 70px;
  border-radius: 10px;
  padding-left: 5%;
  padding-top: 7%;
}

.bloque .bloque__contenido .bloque__titular {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #343348;
}

.bloque .bloque__parrafo {
  font-size: 0.8125rem;
  font-weight: 500;
  color: #343348;
  padding-left: 5%;
}

.bloque .bloque__parrafo--1 {
  color: #0084FF;
  font-size: 0.8125rem;
  font-weight: 400;
}

.bloque .bloque__parrafo--2 {
  color: #FF8400;
  font-size: 0.8125rem;
  font-weight: 400;
}

.bloque .bloque__parrafo--1 {
  padding-top: 10%;
}

.bloque .bloque__parrafo--2 {
  padding-top: 55%;
}

.Volver {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 10%;
}

.Volver .IrHome {
  font-size: 0.75rem;
  margin-right: 9%;
  margin-top: 4%;
}

.Volver .IrHome a {
  text-decoration: none;
  color: #6c757d;
}

.Volver .IrHome a:hover {
  color: #FFFFFF;
}

/*---Footer---*/
.footerContenedor {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-left: 10%;
  margin-top: 5%;
}

.footerContenedor .columna .columna__lista {
  width: 300px;
  margin-left: 2%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footerContenedor .columna .columna__lista .columna__titulo {
  font-size: 0.9375rem;
  font-weight: 600;
  color: #6c757d;
}

.footerContenedor .columna .columna__lista .columna__item {
  font-size: 0.75rem;
  font-weight: 300;
  padding: 4% 8% 4% 8%;
  color: #6c757d;
  list-style: none;
}

.footerContenedor .columna .columna__lista .columna__item .columna__item--link {
  text-decoration: none;
  color: #6c757d;
}

.footerContenedor .columna .columna__lista .columna__item--usuarios {
  padding-top: 0;
  list-style: none;
}

.footerContenedor .columna .columna__lista--redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footerContenedor .columna .columna__lista--redes .columna__item {
  padding: 0 10% 0 10%;
  margin-left: 10%;
  list-style: none;
}

.footerContenedor .columna .columna__lista--redes .columna__item .facebook__icon {
  content: url("../icon/facebook.svg");
  width: 32px;
}

.footerContenedor .columna .columna__lista--redes .columna__item .facebook__icon:hover {
  content: url("../icon/facebookhover.svg");
  width: 32px;
}

.footerContenedor .columna .columna__lista--redes .columna__item .instagram__icon {
  content: url("../icon/instagram.svg");
  width: 32px;
}

.footerContenedor .columna .columna__lista--redes .columna__item .instagram__icon:hover {
  content: url("../icon/instagramhover.svg");
  width: 32px;
}

.footerContenedor .columna .columna__lista--redes .columna__item .twitter__icon {
  content: url("../icon/twitter.svg");
  width: 32px;
}

.footerContenedor .columna .columna__lista--redes .columna__item .twitter__icon:hover {
  content: url("../icon/twitterhover.svg");
  width: 32px;
}

footer .footer__parrafo {
  font-size: 0.625rem;
  font-weight: 100;
  margin-top: 4%;
  margin-bottom: 4%;
  text-align: center;
  color: #343348;
}

/*------------------- Media Query Tablet -------------------*/
@media only screen and (max-width: 768px) {
  #Ayuda {
    width: 100%;
  }
  .preguntas {
    margin-top: 50%;
    margin-bottom: 30%;
  }
  .preguntas .preguntas__titulo {
    width: 100%;
  }
  .preguntas .preguntas__parrafo {
    width: 100%;
  }
  .preguntas .mensaje__cta {
    width: 100%;
  }
}

/*---Variables---*/
/*---ID:Solicitar Tarjeta---*/
#solicitarTarjeta {
  padding-top: 2%;
  padding-bottom: 5%;
}

.tarjeta .tarjeta__contenedor {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-left: 6%;
}

.tarjeta .tarjeta__contenedor .tarjeta__contenedor--izquierda .tarjeta__titulo {
  font-weight: 700;
  font-size: 2.9375rem;
  color: #0084FF;
  padding-bottom: 2%;
  padding-top: 35%;
  margin-left: 5%;
  line-height: 1.5;
}

.tarjeta .tarjeta__contenedor .tarjeta__contenedor--izquierda .tarjeta__parrafo {
  font-size: 0.9375rem;
  margin-left: 5%;
}

.tarjeta .tarjeta__contenedor .tarjeta__contenedor--izquierda .tarjeta__boton a {
  text-decoration: none;
}

.tarjeta .tarjeta__contenedor .tarjeta__contenedor--izquierda .tarjeta__boton a .tarjeta__boton--descarga {
  margin-left: 5%;
  padding-top: 7%;
  width: 150px;
  padding-right: 0;
}

.tarjeta .tarjeta__contenedor .tarjeta__contenedor--derecha .tarjeta__img {
  height: 800px;
  padding-top: 5%;
}

/*------------------- Media Query Tablet -------------------*/
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .container {
    margin: 0;
    width: 90% !important;
  }
  .container .row {
    width: 90%;
  }
  .tarjeta {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tarjeta .tarjeta__contenedor {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 80%;
  }
  .tarjeta .tarjeta__contenedor .tarjeta__contenedor--izquierda .tarjeta__titulo {
    font-size: 2.5rem;
    margin-left: 2%;
    padding-bottom: 4%;
    text-align: center;
  }
  .tarjeta .tarjeta__contenedor .tarjeta__contenedor--izquierda .tarjeta__parrafo {
    font-size: 1rem;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
  }
  .tarjeta .tarjeta__contenedor .tarjeta__contenedor--izquierda .tarjeta__boton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tarjeta .tarjeta__contenedor .tarjeta__contenedor--izquierda .tarjeta__boton a {
    text-decoration: none;
    margin: 10% 3% 10% 3%;
  }
  .tarjeta .tarjeta__contenedor .tarjeta__contenedor--izquierda .tarjeta__boton a .tarjeta__boton--descarga {
    width: 140px;
  }
  .tarjeta .tarjeta__contenedor .tarjeta__contenedor--derecha {
    margin: 0% 2% 0% 2%;
  }
}

/*---Variables---*/
/*---ID:Contacto/Formulario---*/
#Contacto {
  background-color: #F2F2F2;
  padding: 70px 20px 100px 20px;
}

#Contacto .Contactanos {
  font-size: 1.75rem !important;
  font-weight: 700;
  text-align: center;
  margin: 0;
  color: #0084FF;
  padding-top: 3%;
  padding-bottom: 3%;
}

#Contacto .Formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #343348;
}

#Contacto .Formulario .form-group {
  margin-top: 2%;
  margin-bottom: 7%;
}

#Contacto .Formulario .form-group label {
  font-size: 0.875rem;
  font-weight: 500;
  padding-bottom: 2%;
  padding-left: 3%;
  color: #0084FF;
}

#Contacto .Formulario .form-group .form-control {
  border: 1px solid #0084FF;
  font-size: 0.875rem;
}

#Contacto .Formulario .Asunto {
  margin-bottom: 0.7%;
}

#Contacto .Formulario .form-select {
  border: 1px solid #0084FF;
  width: 95%;
  font-size: 0.875rem;
  margin-bottom: 7%;
}

#Contacto .Formulario .form-check {
  margin-top: 10%;
}

#Contacto .Formulario .form-check #flexCheckDefault {
  border: 1px solid #0084FF;
}

#Contacto .Formulario .form-check .form-label {
  padding-top: 10%;
}

#Contacto .Formulario .form-check .form-check-label {
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 2%;
  margin-left: 1%;
  color: #000;
}

#Contacto .Formulario #flexSwitchCheckDefault {
  border: 1px solid #0084FF;
}

#Contacto .Formulario .form-switch {
  margin-top: 5%;
  margin-bottom: 10%;
}

#Contacto .Formulario .Botones {
  padding-top: 5%;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Contacto .Formulario .Botones .btn-primary {
  font-weight: 500;
  font-size: 0.9375rem;
  margin-right: 6%;
  background-color: #0084FF;
  border-color: #0084FF;
}

#Contacto .Formulario .Botones .btn-primary:hover {
  background-color: #FF8400;
  border-color: #FF8400;
}

#Contacto .Formulario .Botones .btn-secondary {
  font-weight: 500;
  font-size: 0.9375rem;
  background-color: #FFFFFF;
  color: #6c757d;
}

#Contacto .Formulario .Botones .btn-secondary:hover {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #FFFFFF;
}

/*---Variables---*/
/*---Generales Home---*/
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

/*---Menú---*/
nav {
  height: 150px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 2%;
}

nav .tituloNavegacion {
  color: #0084FF;
  font-weight: 800;
  float: left;
  padding-top: 2%;
  padding-left: 5%;
  font-size: 1.6875rem;
}

nav .tituloNavegacion:hover {
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: animacion;
          animation-name: animacion;
}

@keyframes animacion {
  from {
  }
  to {
    -webkit-transform: skewY(0deg);
            transform: skewY(0deg);
  }
}

.nav-link:hover {
  color: #0084FF !important;
}

.bg-light {
  background-color: #FFFFFF !important;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 0.9375rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  color: #FF8400;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-nav {
  padding-left: 25%;
  padding-top: 1.5%;
}

.navbar-nav .dropdown-menu {
  background-color: #0084FF;
  border: #0084FF;
  width: 200px;
}

.navbar-nav .dropdown-item {
  font-size: 0.9375rem;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  width: auto;
  text-transform: uppercase;
}

.navbar-nav .dropdown-item:hover {
  background-color: #FF8400;
  font-weight: 600;
}

/*---Bajada---*/
.mensaje {
  width: 70vh;
  height: 0px;
  padding-left: 19%;
}

.mensaje .mensaje__antetitulo {
  font-weight: 500;
  font-size: 1.375rem;
  text-align: left;
  padding-top: 21%;
  letter-spacing: 0.0625rem;
  color: #343348;
}

.mensaje .mensaje__titulo {
  font-weight: 900;
  font-size: 4.375rem;
  letter-spacing: 0.0625rem;
  text-align: left;
  padding-bottom: 2%;
  line-height: 1.3;
}

.mensaje .mensaje__subtitulo {
  font-weight: 200;
  font-size: 1rem;
  text-align: left;
  padding-bottom: 10px;
  color: #343348;
}

.mensaje__cta {
  padding-top: 2%;
}

.mensaje__cta .btn-primary {
  font-weight: 600;
  font-size: 1.0625rem;
  padding-right: 3%;
  padding-left: 3%;
  background-color: #0084FF;
  border-color: #0084FF;
}

.mensaje__cta .btn-primary a {
  color: #FFFFFF !important;
  text-decoration: none !important;
}

.mensaje__cta .btn-primary:hover {
  background-color: #FF8400;
  border-color: #FF8400;
}

.visual {
  width: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.visual .visual__img {
  position: relative;
  left: 270px;
  top: 0px;
  z-index: -1;
  width: 550px;
  height: auto;
  margin-left: 65%;
  margin-top: 2%;
  margin-bottom: 10%;
}

/*---ID:Introduccion---*/
.intro {
  background-color: #672C82;
  height: 400px;
  margin-bottom: 3%;
}

.intro .intro__titulo {
  color: #FFFFFF;
  font-size: 3.4375rem;
  font-weight: 600;
  text-align: center;
  padding-top: 7%;
  padding-bottom: 3%;
  letter-spacing: 0.0625rem;
}

.intro .intro__parrafo {
  color: #FFFFFF;
  font-size: 1.25rem;
  text-align: center;
  letter-spacing: 0.0625rem;
}

/*---Footer---*/
.footerContenedor {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-left: 10%;
  margin-top: 15%;
}

.footerContenedor .columna .columna__lista {
  width: 300px;
  margin-left: 2%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footerContenedor .columna .columna__lista .columna__titulo {
  font-size: 0.9375rem;
  font-weight: 600;
  color: #6c757d;
}

.footerContenedor .columna .columna__lista .columna__item {
  font-size: 0.75rem;
  font-weight: 300;
  padding: 4% 8% 4% 8%;
  color: #6c757d;
  list-style: none;
}

.footerContenedor .columna .columna__lista .columna__item .columna__item--link {
  text-decoration: none;
  color: #6c757d;
}

.footerContenedor .columna .columna__lista .columna__item--usuarios {
  padding-top: 0;
  list-style: none;
}

.footerContenedor .columna .columna__lista--redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footerContenedor .columna .columna__lista--redes .columna__item {
  padding: 0 10% 0 10%;
  margin-left: 10%;
  list-style: none;
}

.footerContenedor .columna .columna__lista--redes .columna__item .facebook__icon {
  content: url("../icon/facebook.svg");
  width: 32px;
}

.footerContenedor .columna .columna__lista--redes .columna__item .facebook__icon:hover {
  content: url("../icon/facebookhover.svg");
  width: 32px;
}

.footerContenedor .columna .columna__lista--redes .columna__item .instagram__icon {
  content: url("../icon/instagram.svg");
  width: 32px;
}

.footerContenedor .columna .columna__lista--redes .columna__item .instagram__icon:hover {
  content: url("../icon/instagramhover.svg");
  width: 32px;
}

.footerContenedor .columna .columna__lista--redes .columna__item .twitter__icon {
  content: url("../icon/twitter.svg");
  width: 32px;
}

.footerContenedor .columna .columna__lista--redes .columna__item .twitter__icon:hover {
  content: url("../icon/twitterhover.svg");
  width: 32px;
}

footer .footer__parrafo {
  font-size: 0.625rem;
  font-weight: 100;
  margin-top: 5%;
  margin-bottom: 6%;
  text-align: center;
  color: #343348;
}

/*---HTML: Error 404---*/
.Error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.Error img {
  width: 100%;
  z-index: -1;
}

.mensaje__error {
  width: 80vh;
  height: 0px;
  padding-left: 5%;
}

.mensaje__error .mensaje__error--titulo {
  font-weight: 800;
  font-size: 3.75rem;
  letter-spacing: 0.0625rem;
  text-align: left;
  padding-top: 15%;
  padding-bottom: 2%;
  line-height: 1.3;
  color: #FFFFFF;
}

.mensaje__error .mensaje__error--subtitulo {
  font-weight: 400;
  font-size: 1rem;
  text-align: left;
  padding-bottom: 1%;
  color: #FFFFFF;
}

.mensaje__error--boton {
  padding-top: 2%;
  position: relative;
  z-index: 1;
}

.mensaje__error--boton .btn-primary {
  font-weight: 600;
  font-size: 1.0625rem;
  padding-right: 3%;
  padding-left: 3%;
  background-color: #0084FF;
  border-color: #FFFFFF;
}

.mensaje__error--boton .btn-primary a {
  color: #FFFFFF !important;
  text-decoration: none !important;
}

.mensaje__error--boton .btn-primary:hover {
  background-color: #FF8400;
  border-color: #FF8400;
}

/*---HTML Error 404---*/
.Error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.Error img {
  width: 100%;
  z-index: -1;
}

.mensaje__error {
  width: 80vh;
  height: 0px;
  padding-left: 5%;
}

.mensaje__error .mensaje__error--titulo {
  font-weight: 800;
  font-size: 3.75rem;
  letter-spacing: 0.0625rem;
  text-align: left;
  padding-top: 15%;
  padding-bottom: 2%;
  line-height: 1.3;
  color: #FFFFFF;
}

.mensaje__error .mensaje__error--subtitulo {
  font-weight: 400;
  font-size: 1rem;
  text-align: left;
  padding-bottom: 1%;
  color: #FFFFFF;
}

.mensaje__error--boton {
  padding-top: 2%;
  position: relative;
  z-index: 1;
}

.mensaje__error--boton .btn-primary {
  font-weight: 600;
  font-size: 1.0625rem;
  padding-right: 3%;
  padding-left: 3%;
  background-color: #0084FF;
  border-color: #FFFFFF;
}

.mensaje__error--boton .btn-primary a {
  color: #FFFFFF !important;
  text-decoration: none !important;
}

.mensaje__error--boton .btn-primary:hover {
  background-color: #FF8400;
  border-color: #FF8400;
}

/*------------------- Media Query Tablet -------------------*/
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .contenedor {
    height: 1320px;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .tituloNavegacion {
    font-size: 2rem;
  }
  /*---Bajada---*/
  .mensaje {
    height: auto;
    width: auto;
    padding-left: 10%;
  }
  .mensaje .mensaje__antetitulo {
    padding-top: 14%;
  }
  .mensaje .mensaje__subtitulo {
    font-size: 1.1rem;
  }
  .visual {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .visual .visual__img {
    position: absolute;
    left: 70px;
    top: 500px;
    z-index: -1;
    width: 530px;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 10%;
  }
  /*---ID:Introduccion---*/
  .intro {
    background-color: #672C82;
    height: 220px;
    margin-bottom: 2%;
  }
  .intro .intro__titulo {
    color: #FFFFFF;
    font-size: 2.3rem;
    font-weight: 600;
    text-align: center;
    padding-top: 7%;
    padding-bottom: 3%;
    letter-spacing: 0.0625rem;
  }
  /*---Footer---*/
  .footerContenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 8%;
    margin-top: 20%;
  }
  .footerContenedor .columna .columna__lista .columna__item--usuarios {
    padding-top: 20%;
    list-style: none;
  }
  .footerContenedor .columna .columna__lista--redes {
    padding-top: 60%;
    padding-left: 22%;
  }
  .footerContenedor .columna .columna__lista--redes .columna__item {
    padding: 0 10% 0 10%;
    list-style: none;
  }
  footer .footer__parrafo {
    font-size: 0.7rem;
    margin-top: 10%;
    margin-bottom: 8%;
  }
}
/*# sourceMappingURL=style.css.map */